.login-page {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f5f5f5;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 40px 30px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

#login-text {
  margin-bottom: 20px;
  color: #3f51b5;
}

.login-container form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 15px;
}

.login-container input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.login-container button {
  padding: 10px;
  background-color: rgb(31, 81, 217);
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-container button:hover {
  background-color: #303f9f;
}

.additional-links {
  margin-top: 20px;
  text-align: center;
}

.additional-links p {
  margin: 0;
}

.additional-links a {
  color: #3f51b5;
  text-decoration: none;
}

.additional-links a:hover {
  text-decoration: underline;
}

.google-login {
  margin-top: 10px;
  padding: 10px;
  background-color: white;
  color: #3f51b5;
  border: 1px solid #3f51b5;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.google-login:hover {
  background-color: #3f51b5;
  color: white;
}
